.contries-main-container {
  height: 90vh;
  overflow: auto;
  display: flex;
  border: .5px solid rgb(174, 174, 174);
  margin: 1rem 3rem 1rem 3rem;
}

.countries-container {
  max-height: 100vh;
  overflow: auto;
  width: 30%;
  border: .5px solid rgb(174, 174, 174);
  padding-top: 1rem;
}

.country-info-container {
  display: flex;
  justify-content: center;
  max-height: 100vh;
  overflow: auto;
  width: 70%;
  border: .5px solid rgb(174, 174, 174);
  padding-top: 1rem;
}